.header {
  background-color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 94px;
  height: 26px;
}

@media screen and (max-width: 885px) {
  .header {
    width: 100%;
    height: 46px;
  }
}
