.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}

.profile__image {
  width: 190px;
  height: 190px;
  border-radius: 8px;
}
.profile__column {
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 190px;
  margin-left: 20px;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: 0;
  width: 420px;
  height: 32px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  width: 97px;
  height: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
  color: rgba(33, 33, 33, 0.7);
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.edit__profile__button {
  margin-top: auto;
  color: #212121;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 107.34px;
  height: 16px;
  gap: 8px;
  opacity: 0.7;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0;
}

.edit__profile__icon {
  color: rgba(33, 33, 33, 0.4);
  width: 15.34px;
  height: 16px;
}

.new__post__button {
  margin-top: auto;
  margin-left: auto;
  background-color: #212121;
  color: #fcf5e5;
  width: 149px;
  height: 52px;
  border: none;
  border-radius: 8px;
  align-content: center;
  gap: 8px;
}

.new__post__icon {
  width: 12px;
  height: 12px;
  border-width: 2px;
}

@media screen and (max-width: 885px) {
  .profile {
    flex-direction: column;
    align-items: center;
    max-width: 288px;
    text-align: center;
    padding-top: 20px;
  }

  .profile__image {
    width: 80px;
    height: 80px;
    margin: 0 0 12px;
  }

  .profile__name {
    width: 100%;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__column {
    width: 100%;
    margin-left: 0;
  }

  .profile__description {
    width: 100%;
    margin: 0 0 32px;
    max-width: 288px;
  }

  .edit__profile__button {
    width: 100%;
    margin-bottom: 20px;
  }

  .new__post__button {
    width: 288px;
    height: 88px;
  }
}
